img {
	max-width: 300px;
	margin-top: 20px;
}

.category-img {
	max-width: 100px;
	max-height: 150px;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	font-weight: bold;
}
